<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS form</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="fName" placeholder="First Name" />
      <input type="text" name="lName" placeholder="Last Name" />
      <button type="submit">OK</button>
    </form>

    <% if (locals.numberOfLetters){ %>
    <h1>There are <%= numberOfLetters %> letters in your name.</h1>
    <% } else { %>
    <h1>Write your name below</h1>
    <% } %>
  </body>
</html>
